<table class="table">
<thead>
    <tr>
    <th scope="col">Destination</th>
    <th scope="col">Type</th>
    </tr>
</thead>
<tbody>
{{#each destinations as |destination|}}
    <tr>
    <td scope="row">{{destination.name}}</td>
    <td>
        <button type="button" class="btn btn-light btn-sm">{{destination.type}}</button>
    </td>
    </tr>
{{/each}}
</tbody>
</table>