<div class="m-3 justify-content-center">
<button type="button" class="btn btn-outline-primary active">All</button>
<button type="button" class="btn btn-outline-primary">Kubernetes Engine</button>
<button type="button" class="btn btn-outline-primary">Docker Registry</button>
<button type="button" class="btn btn-outline-primary">Github Release</button>
<button type="button" class="btn btn-outline-primary">NuGet</button>
<button type="button" class="btn btn-outline-primary">Maven</button>
</div>