<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  {{#link-to "index" class="navbar-brand"}}Estafette CI{{/link-to}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        {{#link-to "origins" class="nav-item nav-link"}}Origins{{/link-to}}
        {{#link-to "targets" class="nav-item nav-link"}}Targets{{/link-to}}
        {{#link-to "statistics" class="nav-item nav-link"}}Statistics{{/link-to}}
    </div>
  </div>
</nav>