<div class="m-3 justify-content-center">
<button type="button" class="btn btn-outline-primary active">All</button>
<button type="button" class="btn btn-outline-success">Succeeded</button>
<button type="button" class="btn btn-outline-danger">Failed</button>
<button type="button" class="btn btn-outline-warning">Running</button>
<button type="button" class="btn btn-outline-secondary">team=estafette</button>
<button type="button" class="btn btn-outline-secondary">language=golang</button>
<button type="button" class="btn btn-outline-secondary">language=node</button>
</div>