<div class="m-3 justify-content-center">
<button type="button" class="btn btn-outline-primary active">All</button>
<button type="button" class="btn btn-outline-success">Succeeded</button>
<button type="button" class="btn btn-outline-danger">Failed</button>
<button type="button" class="btn btn-outline-warning">Running</button>
{{#each pinnedLabels key="id" as |label|}}
<button type="button" class="btn btn-outline-secondary">{{label.key}}={{label.value}}</button>
{{/each}}
</div>