
<nav class="m-3" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{#link-to "pipelines"}}Pipelines{{/link-to}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{pipeline.repoSource}}/{{pipeline.repoOwner}}/{{pipeline.repoName}}</li>
  </ol>
</nav>