<div class="m-3">
<table class="table">
<thead>
    <tr>
    <th scope="col">Target</th>
    <th scope="col">Type</th>
    </tr>
</thead>
<tbody>
{{#each targets as |target|}}
    <tr>
    <td scope="row">{{target.name}}</td>
    <td>
        <button type="button" class="btn btn-light btn-sm">{{target.type}}</button>
    </td>
    </tr>
{{/each}}
</tbody>
</table>
</div>