<div class="m-3 justify-content-center">
<button type="button" class="btn btn-outline-primary active">All</button>
{{#each types as |type|}}
<button type="button" class="btn btn-outline-primary">{{type}}</button>
{{/each}}
</div>