html, body, #app {
    height: 100%;
}

#header-and-main {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 56px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -56px; /* negative value of footer height */
    height: 56px;
    clear:both;
    padding-top:20px;
} 

@media (min-width: 1440px) {

    .d-xxl-block {
        display: block!important;
    }

    .d-xxl-flex {
        display: flex!important;
    }

    .d-xxl-none {
        display: none!important;
    }

    .text-xxl-left {
        text-align: left!important;
    }

    @for $i from 1 through 12 {
        .col-xxl-#{$i} {
            -ms-flex: 0 0 percentage(($i / 12));
            flex: 0 0 percentage(($i / 12));
            max-width: percentage(($i / 12));
        }
    }
}

@media (min-width: 1920px) {

    .d-xxxl-block {
        display: block!important;
    }

    .d-xxxl-flex {
        display: flex!important;
    }

    .d-xxxl-none {
        display: none!important;
    }

    .text-xxxl-left {
        text-align: left!important;
    }

    @for $i from 1 through 12 {
        .col-xxxl-#{$i} {
            -ms-flex: 0 0 percentage(($i / 12));
            flex: 0 0 percentage(($i / 12));
            max-width: percentage(($i / 12));
        }
    }
}