html, body, #app {
    height: 100%;
}

#header-and-main {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 56px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -56px; /* negative value of footer height */
    height: 56px;
    clear:both;
    padding-top:20px;
} 

#main .text-truncate-fade {
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, white 80%, white 100%);
        pointer-events: none;
      }
}

.clickable {
    cursor: pointer;
}

#main .stat {

    @media (min-width: 576px) {
        min-width: 270px;
        max-width: 270px;
    }

    div {
        padding: 1em;
        margin: 0 0 1em 0;

        @media (min-width: 576px) {
            margin: 0 1em 1em 0;
        }        
    }
}

@media (min-width: 1440px) {

    #main {

        .d-xxl-block {
            display: block!important;
        }

        .d-xxl-flex {
            display: flex!important;
        }

        .d-xxl-none {
            display: none!important;
        }

        .text-xxl-left {
            text-align: left!important;
        }

        @for $i from 1 through 12 {
            .col-xxl-#{$i} {
                -ms-flex: 0 0 percentage(($i / 12));
                flex: 0 0 percentage(($i / 12));
                max-width: percentage(($i / 12));
            }
        }

    }
}

@media (min-width: 1920px) {

    #main {

        .d-xxxl-block {
            display: block!important;
        }

        .d-xxxl-flex {
            display: flex!important;
        }

        .d-xxxl-none {
            display: none!important;
        }

        .text-xxxl-left {
            text-align: left!important;
        }

        @for $i from 1 through 12 {
            .col-xxxl-#{$i} {
                -ms-flex: 0 0 percentage(($i / 12));
                flex: 0 0 percentage(($i / 12));
                max-width: percentage(($i / 12));
            }
        }

    }
}

.list-complete-item {
    transition: all .5s;
}
.list-complete-enter, .list-complete-leave-to
    /* .list-complete-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(30px);
}
.list-complete-leave-active {
    position: absolute;
}