<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Estafette CI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Pipelines <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Environments</a>
      <a class="nav-item nav-link disabled" href="#">Admin</a>
    </div>
  </div>
</nav>

<div class="m-3 justify-content-center">
<button type="button" class="btn btn-outline-primary active">All</button>
<button type="button" class="btn btn-outline-success">Succeeded</button>
<button type="button" class="btn btn-outline-warning">Running</button>
<button type="button" class="btn btn-outline-danger">Failed</button>
<button type="button" class="btn btn-outline-secondary">team=estafette-team</button>
<button type="button" class="btn btn-outline-secondary">language=golang</button>
<button type="button" class="btn btn-outline-secondary">language=node</button>
</div>

<table class="table">
<thead>
    <tr>
    <th scope="col">Pipeline</th>
    <th scope="col">Version</th>
    <th scope="col">Status</th>
    <th scope="col">Labels</th>
    <th scope="col">Deployments</th>
    </tr>
</thead>
<tbody>
    <tr>
    <td scope="row"><span class="text-muted">github.com/estafette/</span><strong>estafette-ci-api</strong></td>
    <td>0.0.228-beta</td>
    <td class="align-middle">
        <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-light btn-sm">app=estafette-ci-api</button>
        <button type="button" class="btn btn-light btn-sm">team=estafette-team</button>
        <button type="button" class="btn btn-light btn-sm">language=golang</button>
    </td>
    <td>tooling=0.0.228</td>
    </tr>
    <tr>
    <td scope="row"><span class="text-muted">github.com/estafette/</span><strong>estafette-ci-web</strong></td>
    <td>0.0.13</td>
    <td class="align-middle">
        <div class="progress">
        <div class="progress-bar progress-bar bg-warning" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-light btn-sm">app=estafette-ci-web</button>
        <button type="button" class="btn btn-light btn-sm">team=estafette-team</button>
        <button type="button" class="btn btn-light btn-sm">language=node</button>
    </td>
    <td>tooling=0.0.12</td>
    </tr>
    <tr>
    <td scope="row"><span class="text-muted">github.com/estafette/</span><strong>estafette-ci-builder</strong></td>
    <td>0.0.260</td>
    <td class="align-middle">
        <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-light btn-sm">app=estafette-ci-builder</button>
        <button type="button" class="btn btn-light btn-sm">team=estafette-team</button>
        <button type="button" class="btn btn-light btn-sm">language=golang</button>
    </td>
    <td></td>
    </tr>
    <tr>
    <td scope="row"><span class="text-muted">github.com/estafette/</span><strong>estafette-ci-libraries</strong></td>
    <td>0.0.19</td>
    <td class="align-middle">
        <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-light btn-sm">app=estafette-ci-libraries</button>
        <button type="button" class="btn btn-light btn-sm">team=estafette-team</button>
        <button type="button" class="btn btn-light btn-sm">language=golang</button>
    </td>
    <td></td>
    </tr>

    <tr>
    <td scope="row"><span class="text-muted">github.com/estafette/</span><strong>estafette-extension-github-status</strong></td>
    <td>0.0.19</td>
    <td class="align-middle">
        <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-light btn-sm">app=estafette-extension-github-status</button>
        <button type="button" class="btn btn-light btn-sm">team=estafette-team</button>
        <button type="button" class="btn btn-light btn-sm">language=golang</button>
    </td>
    <td></td>
    </tr>

    <tr>
    <td scope="row"><span class="text-muted">github.com/estafette/</span><strong>estafette-extension-bitbucket-status</strong></td>
    <td>0.0.17</td>
    <td class="align-middle">
        <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-light btn-sm">app=estafette-extension-bitbucket-status</button>
        <button type="button" class="btn btn-light btn-sm">team=estafette-team</button>
        <button type="button" class="btn btn-light btn-sm">language=golang</button>
    </td>
    <td></td>
    </tr>

    <tr>
    <td scope="row"><span class="text-muted">github.com/estafette/</span><strong>estafette-extension-slack-build-status</strong></td>
    <td>0.0.21</td>
    <td class="align-middle">
        <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-light btn-sm">app=estafette-extension-slack-build-status</button>
        <button type="button" class="btn btn-light btn-sm">team=estafette-team</button>
        <button type="button" class="btn btn-light btn-sm">language=golang</button>
    </td>
    <td></td>
    </tr>

    <tr>
    <td scope="row"><span class="text-muted">github.com/estafette/</span><strong>estafette-extension-git-clone</strong></td>
    <td>0.0.14</td>
    <td class="align-middle">
        <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-light btn-sm">app=estafette-extension-git-clone</button>
        <button type="button" class="btn btn-light btn-sm">team=estafette-team</button>
        <button type="button" class="btn btn-light btn-sm">language=golang</button>
    </td>
    <td></td>
    </tr>

    <tr>
    <td scope="row"><span class="text-muted">github.com/estafette/</span><strong>estafette-cloudflare-dns</strong></td>
    <td>0.0.107</td>
    <td class="align-middle">
        <div class="progress">
        <div class="progress-bar progress-bar bg-warning" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-light btn-sm">app=estafette-cloudflare-dns</button>
        <button type="button" class="btn btn-light btn-sm">team=estafette-team</button>
        <button type="button" class="btn btn-light btn-sm">language=golang</button>
    </td>
    <td></td>
    </tr>

    <tr>
    <td scope="row"><span class="text-muted">github.com/estafette/</span><strong>estafette-letsencrypt-certificate</strong></td>
    <td>0.0.91</td>
    <td class="align-middle">
        <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-light btn-sm">app=estafette-letsencrypt-certificate</button>
        <button type="button" class="btn btn-light btn-sm">team=estafette-team</button>
        <button type="button" class="btn btn-light btn-sm">language=golang</button>
    </td>
    <td></td>
    </tr>

    <tr>
    <td scope="row"><span class="text-muted">github.com/estafette/</span><strong>estafette-gke-preemptible-killer</strong></td>
    <td>1.0.38</td>
    <td class="align-middle">
        <div class="progress">
        <div class="progress-bar progress-bar bg-warning" role="progressbar" style="width: 97%" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-light btn-sm">app=estafette-gke-preemptible-killer</button>
        <button type="button" class="btn btn-light btn-sm">team=estafette-team</button>
        <button type="button" class="btn btn-light btn-sm">language=golang</button>
    </td>
    <td></td>
    </tr>

    <tr>
    <td scope="row"><span class="text-muted">github.com/estafette/</span><strong>estafette-gke-node-pool-shifter</strong></td>
    <td>1.0.13</td>
    <td class="align-middle">
        <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-light btn-sm">app=estafette-gke-node-pool-shifter</button>
        <button type="button" class="btn btn-light btn-sm">team=estafette-team</button>
        <button type="button" class="btn btn-light btn-sm">language=golang</button>
    </td>
    <td></td>
    </tr>
</tbody>
</table>


<nav aria-label="Pipeline page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>


{{outlet}}