
    <div class="d-inline-flex singlestat card bg-light mb-3 mt-3 ml-3">
    <div class="card-body">
        <h5 class="card-title text-center"># origins</h5>
        <p class="card-text">546</p>
    </div>
    </div>


    <div class="d-inline-flex singlestat card bg-light mb-3 mt-3 ml-3">
    <div class="card-body">
        <h5 class="card-title text-center"># destinations</h5>
        <p class="card-text">17</p>
    </div>
    </div>


    <div class="d-inline-flex singlestat card bg-light mb-3 mt-3 ml-3">
    <div class="card-body">
        <h5 class="card-title text-center"># builds last month</h5>
        <p class="card-text">1381</p>
    </div>
    </div>
